.legado-section {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    font-family: serif;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    gap: 2rem;
    padding-block: 4rem;
    
    h2{
    width: 40%;
    }
    p{
    width: 60%;
    }
}

.main-title {
    font-size: 2.5rem;
    font-style: italic;
    flex: 1;
}

.intro-text {
    flex: 2;
    line-height: 1.6;
}

.tab {
    border-block: 1px solid var(--secondary-color);
    padding: 1.5rem 0;
    width: 100%;
    overflow: hidden;
}



.title-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 1rem;

    .texto-grande{
        margin-bottom: 0;
    }
}

.subtab{

    font-size: clamp(16px, 1.4vw, 18px);
}
.text-column {
    display: flex; 
    gap: 2.5rem;
    white-space: normal;
}

.expand-column {
    display: flex;
    justify-content: flex-end;
    font-family: var(--main-font);
    font-size: clamp(30px, 3vw, 22px);
}

.reduce-btn {
    display: none;
    transform: translateX(70%);
}




/*TAB ACTIVA*/
/*Botones*/
.tab.active .reduce-btn {
    display: block;
}

.tab.active .expand-btn {
    display: none;
}

/* Grid contenido*/
.tab.active .tab-content-grid {
    display: grid;
    grid-template-columns: 28% 62% 5%;
    gap: 1rem;
    align-items: flex-start;
    
}
/* Title column (titular + subtabs) */
.tab.active .title-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 1rem;
    
}

.tab.active .subtabs {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}




/*TAB DESACTIVADA*/
/*Grid contenido*/
.tab:not(.active) .tab-content-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}
.tab:not(.active) .text-column {
    display: none;
}
/* Title column (titular + subtabs) */
.tab:not(.active) .title-column {
    flex: 0 1 auto;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 0;
}
.tab:not(.active) .subtabs {
    display:flex;
    flex-direction: wrap;
    gap: 1rem;
    
}




@media (max-width:1200px){
    
    .reduce-btn {
        transform: translateX(40%);
    }

}

@media (max-width:940px){
    .reduce-btn {
        transform: translateX(20%);
    }
}
@media screen and (max-width: 818px) {

    .legado-section{
        padding: 2rem;
    }
    /* Ajuste del contenedor principal */
    .content-wrapper {
        width: min(95%, 1200px);
    }

    /* Header en columna */
    .header-wrap {
        flex-direction: column;
        gap: 0rem;
        text-align: center;
        
        h2, p {
            width: 100%;
        }
    }

    /* Tab desactivada */
    .tab:not(.active) .tab-content-grid {
        display: grid;
        grid-template-columns: 1fr 30px; /* Dos columnas: contenido y botón */
        gap: 1rem;
        align-items: start;
    }

    .tab:not(.active) .title-column {
        flex-direction: column;
        gap: 0.25rem;
        align-items: flex-start;
    }

    .tab:not(.active) .subtabs {
        display: flex;
        flex-direction: row;
        gap:1rem;
    }

    /* Tab activa */
    .tab.active .tab-content-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
    }

    .tab.active .title-column {
        width: 100%;
        margin-right: 0;
        gap: 0.25rem;
    }
    .tab.active .subtabs{
        display:flex;
        flex-direction: row;
        gap:1rem;
    }
    .tab.active .text-column {
        width: 90%;
        flex-direction: column;
        gap: 2rem;
    }

    .tab.active .expand-column {
        align-self: flex-end;
        position: absolute;
        top: 0;
        right: 0;
    }
   
    /* Ajustes generales para los botones */
 .expand-column {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reduce-btn {
        display: none;
        transform: translateX(0%);
    }
    
}


@media (max-width: 520px){

    .tab:not(.active) .subtabs{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
}
.expand-column{
        font-size: 20px;
    }
}